// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"icon-color": #D9BF98,
	"body-font-color": #23201D,
	"background-color": #FAF9F6,
	"banner-color": #F4EFE5,
	"btn-color": #E1D981
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

$tablet: "screen and (min-width: 768px)";

// 5. Du kan lave styling her...

body{
	font-family: "Lexend Deca";
	font-size: 12px;
	line-height: 1.8em;
	color: var(--bs-body-font-color);
	background-color: var(--bs-background-color);
}

h1,h2,h3,h4,h5,h6{
	font-family: "Gopher";
	color: var(--bs-body-font-color);
}

#MainNav {
	&:has(.navbar-collapse:is(.collapse.show, .collapsing)) {
		background-color: var(--bs-background-color);
	}

	&.nav-fixed {
		transition: top .3s;
		top: -100%;
		position: fixed;
		background-color: var(--bs-background-color);
	}
	&.nav-shown {
		 top: 0%;
	}
}


#navbarNavDropdown li{
	font-family: Gopher;
	font-size: 1rem;
	color: var(--bs-body-font-color);
}

#Logo{
	width: 120px;
	height: auto;
	margin-left: 10px;
	@media #{$tablet}{
		margin-left: 40px;
		width: 150px;
		height: auto;

	}
}

.banner-image-container {
	position: relative;
	height: 100dvh;
	overflow: clip;

	&#ContactBannerImage{
		height: 70dvh;
		& img{
			object-position: 25%;
		}
	}
	&#AboutUsBannerImage {
		height: 70dvh;
	}

	& nav {
		position: absolute;
		/*top: 0;*/
		width: 100%;
		z-index: 10;
	}

	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	& .banner-image_text {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 1rem 2rem;

		@media #{$tablet}{
			padding: 3rem 4rem;
		}

		& h1 {
			margin-bottom: 1rem;
		}
	}
}

.btn{
	font-family: Gopher;
	padding-inline: 50px;
}

.btn-image{
	opacity: 80%;
}

.btn-with-image {
	transition: transform 0.3s ease;

	&:hover{
		transform: scale(1.1);
		color: grey;
	}

}


#FooterPic {
	background-image: url("../images/Footer.webp");
	background-size: cover;
	background-position: center;
	background-position-x: 75%;
	background-repeat: no-repeat;
	padding: 2rem 2rem .5rem;
}

.copyright-icon{
	font-size: 0.7em;
	font-family: Gopher;
}

@media #{$tablet}{
	#EmployeeBoxes .employee-box:nth-child(even) > div:first-child {
		order: 2;
	}
}

.employee-image img {
	object-fit: cover;
	height: 100%;
}

.employee-title {
	border-bottom: 1px solid var(--bs-icon-color);
	white-space: nowrap;
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	min-width: 100px;

	@media #{$tablet}{
		font-size: 1.25rem;
	}

	& img.curvey-line {
		height: 50px;
		position: absolute;
		top: -14px;

		&.curvey-line--left {
			left: -40.5px;
		}
		&.curvey-line--right {
			transform: rotateZ(180deg) rotateX(180deg);
			right: -40.5px;
		}

		@media #{$tablet}{
			top: -9.5px;

			&.curvey-line--left {
				left: -40px;
			}
			&.curvey-line--right {
				transform: rotateZ(180deg) rotateX(180deg);
				right: -40px;
			}
		}
	}
}

.employee-description {
	max-width: 400px;
	margin: 1rem auto;
}

.employee-book-button {
	width: 100%;

	@media #{$tablet}{
		margin: auto;
		width: fit-content;
		display: block;
	}
}

.treatment-title {
	border-bottom: 1px solid var(--bs-icon-color);
	white-space: nowrap;
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 0 .5rem;
	font-size: 1.75rem;

	& img.curvey-line {
		height: 50px;
		position: absolute;
		top: 0.5px;

		&.curvey-line--left {
			left: -40.5px;
		}
		&.curvey-line--right {
			transform: rotateZ(180deg) rotateX(180deg);
			right: -40.5px;
		}

		@media #{$tablet}{
			top: 0px;

			&.curvey-line--left {
				left: -40.5px;
			}
			&.curvey-line--right {
				transform: rotateZ(180deg) rotateX(180deg);
				right: -40.5px;
			}
		}
	}
}

.treatment-pris-note {
	font-size: 0.75em;
}

#TreatmentBoxes > .treatment-box:nth-child(odd){
	background-color: var(--bs-banner-color);
}

input.form-control{
	font-size: 12px;
}

.frontpage-icon{
	height: 300px;
	width: auto;
}